[core]
	autocrlf = input
	symlinks = true
[credential]
	helper = store
[init]
	defaultBranch = main
[pull]
	rebase = true
[includeIf "gitdir:/home/chrisx/Git/gitea.chrisx.xyz/"]
	path = /home/chrisx/Git/gitea.chrisx.xyz/.gitconfig
[includeIf "gitdir:/home/chrisx/Git/github.com/"]
	path = /home/chrisx/Git/github.com/.gitconfig
[includeIf "gitdir:/home/chrisx/Git/aur.archlinux.org/"]
	path = /home/chrisx/Git/aur.archlinux.org/.gitconfig
[includeIf "gitdir:/home/chrisx/Git/gitlab.eecs.umich.edu/"]
	path = /home/chrisx/Git/gitlab.eecs.umich.edu/.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
