[core]
	autocrlf = input
	symlinks = true
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
[pull]
	rebase = true
[include]
    path = ~/.gitconfig_credential
[includeIf "gitdir:~/Git/aur.archlinux.org/"]
	path = ~/Git/aur.archlinux.org/.gitconfig
[includeIf "gitdir:~/Git/gitea.chrisx.xyz/"]
	path = ~/Git/gitea.chrisx.xyz/.gitconfig
[includeIf "gitdir:~/Git/github.com/"]
	path = ~/Git/github.com/.gitconfig
[includeIf "gitdir:~/Git/gitlab.com/"]
	path = ~/Git/gitlab.com/.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
